<%= simple_form_for(@market_keyword) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :site_id, as: :hidden, input_html: {value: @market_site.id }%>
    <%= f.input :parent_id, as: :hidden, input_html: {value: 0 } %>
    <%= f.input :name %>
    <%= f.input :opt1, placeholder: '包含单词' %> 或
    <%= f.input :opt2, placeholder: '包含单词'  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
