<h1>Listing market_keywords</h1>

<table>
  <thead>
    <tr>
      <th>Market site</th>
      <th>Parent</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @market_keywords.each do |market_keyword| %>
      <tr>
        <td><%= market_keyword.site %></td>
        <td><%= market_keyword.parent_id %></td>
        <td><%= market_keyword.name %></td>
        <td><%= link_to 'Show', market_keyword %></td>
        <td><%= link_to 'Edit', edit_market_keyword_path(market_keyword) %></td>
        <td><%= link_to 'Destroy', market_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_market_keyword_path %>
