<%= content_tag_for :li, todo_item, class: 'item' do %>
  <%= form_for todo_item, remote: true do |f| %>
    <label class='check pull-left todo'>
      <%= f.check_box :status %>
      <%= f.submit '' %>&nbsp;&nbsp;
      <span><%= link_to h(todo_item.title), todo_item %></span>
    </label>
    <div class='actions pull-right'>
      <a class='btn btn-link edit has-tooltip' data-placement='top' href='<%= edit_market_todo_item_path(todo_item) %>' title='修改'>
        <i class='icon-pencil'></i>
      </a>
      <a class='btn btn-link important has-tooltip' data-placement='top' href='#' title='标记'>
        <i class='icon-bookmark-empty'></i>
      </a>
    </div>
  <% end %>
<% end %>

